<h2>Importar Pandas</h2>

In [7]:
import pandas as pd

### En Python Extraer datos de diferentes fuentes:

In [11]:
a = pd.read_csv("C:\\Users\\Mario Salazar\\Desktop\\UTN\\ArtificialIntelligence\\Git\Artificial_Intelligence\\CorreccionBI\\mystery.csv", encoding='utf-16', sep=',', header=0)
a

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

In [12]:
b = pd.read_csv('electricity_access_percent.csv', encoding='utf-8', sep=',')
b

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145,NaN,NaN
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138,NaN,NaN
2,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607,NaN,NaN
3,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
4,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,98.377060,0.000000,99.430435,99.773651,99.942505,99.993134,100.000000,100.000000,NaN,NaN
260,"Yemen, Rep.",YEM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,61.751400,63.134281,64.532181,65.942101,75.600000,66.100000,70.213905,71.642349,NaN,NaN
261,South Africa,ZAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,82.700000,82.900000,84.700000,85.300000,85.400000,86.000000,85.500000,84.200000,NaN,NaN
262,Zambia,ZMB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,23.235649,22.000000,24.328644,24.894667,25.469702,27.900000,31.100000,27.219337,NaN,NaN
263,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,43.369082,36.063057,36.900000,36.728878,37.076813,32.300000,33.700000,38.145138,NaN,NaN

In [23]:
c = pd.read_csv('gdp_data.csv', encoding='utf-8', sep=',')
c

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.549239e+10,8.252614e+10,1.041158e+11,1.139232e+11,1.249125e+11,1.267302e+11,1.026212e+11,9.533720e+10,1.242094e+11,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.188368e+10,1.303935e+10,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.653793e+09,5.829934e+09,6.686683e+09,6.500193e+09,7.073420e+09,7.386891e+09,6.439947e+09,6.715487e+09,7.128691e+09,NaN
260,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.513027e+10,3.090675e+10,3.272642e+10,3.540133e+10,4.041524e+10,4.322858e+10,3.460248e+10,1.821333e+10,NaN,NaN
261,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,7.575248e+09,7.972841e+09,8.497830e+09,9.423212e+09,1.037379e+10,1.133417e+10,...,2.972167e+11,3.752981e+11,4.168782e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.177410e+11,2.957627e+11,3.494193e+11,NaN
262,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,1.532834e+10,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,2.095475e+10,2.580867e+10,NaN
263,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,8.621574e+09,1.014186e+10,1.209845e+10,1.424249e+10,1.545177e+10,1.589105e+10,1.630467e+10,1.661996e+10,1.784582e+10,NaN

In [13]:
d = pd.read_csv('population_data.csv', encoding='utf-8', sep=',')
d

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0,NaN
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0,NaN
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0,NaN
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,NaN
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0,NaN
260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0,NaN
261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0,NaN
262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0,NaN
263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0,NaN

In [6]:
e = pd.read_csv('projects_data.csv', encoding='utf-8', sep=',', index_col=False, dtype='unicode')
e

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
0,P162228,Other,World;World,RE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P163962,Africa,Democratic Republic of the Congo;Democratic Re...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P167672,South Asia,People's Republic of Bangladesh;People's Repub...,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P158768,South Asia,Islamic Republic of Afghanistan;Islamic Repu...,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P161364,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18243,P006578,Latin America and Caribbean,Republic of Chile;Republic of Chile,PE,Specific Investment Loan,IN,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18244,P037451,Europe and Central Asia,Grand Duchy of Luxembourg;Grand Duchy of Luxem...,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18245,P037362,Europe and Central Asia,Kingdom of Denmark;Kingdom of Denmark,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18246,P037452,Europe and Central Asia,Kingdom of the Netherlands;Kingdom of the Neth...,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18247,P037383,Europe and Central Asia,French Republic;French Republic,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
f = pd.read_csv('rural_population_percent.csv', encoding='utf-8', sep=',', index_col=False, dtype='unicode')
f

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.27,49.285,49.3,...,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893,NaN
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.89,90.574,90.25,...,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.43,NaN
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,60.701,59.903,59.1,58.301,57.51,56.726,55.95,55.181,54.422,NaN
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.77,...,48.924,47.837,46.753,45.67,44.617,43.591,42.593,41.624,40.684,NaN
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.55,39.017,36.538,34.128,31.795,29.555,...,11.648,12.183,12.74,13.292,13.835,14.367,14.885,15.388,15.873,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Rural population (% of total population),SP.RUR.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,Rural population (% of total population),SP.RUR.TOTL.ZS,90.9,90.541,90.169,89.784,89.386,88.974,...,68.835,68.268,67.698,67.126,66.55,65.973,65.394,64.813,64.231,NaN
261,South Africa,ZAF,Rural population (% of total population),SP.RUR.TOTL.ZS,53.381,53.207,53.094,52.98,52.866,52.752,...,38.313,37.782,37.254,36.728,36.212,35.702,35.199,34.705,34.218,NaN
262,Zambia,ZMB,Rural population (% of total population),SP.RUR.TOTL.ZS,81.855,81.049,80.215,79.288,77.985,76.628,...,61.701,61.275,60.847,60.413,59.973,59.528,59.078,58.621,58.16,NaN
263,Zimbabwe,ZWE,Rural population (% of total population),SP.RUR.TOTL.ZS,87.392,87.179,86.918,86.422,85.908,85.38,...,66.622,66.804,66.985,67.166,67.346,67.499,67.624,67.723,67.793,NaN

In [15]:
g = pd.read_json('population_data.json', encoding='utf-8', dtype='unicode')
g

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

### Combinar datos de diferentes fuentes: usando el método pandas concat

In [16]:
ca = pd.read_csv('rural_population_percent.csv', encoding='utf-8', sep=',', index_col=False, dtype='unicode')
cb = pd.read_csv('electricity_access_percent.csv', encoding='utf-8', sep=',')
con = pd.concat([ca, cb]).drop_duplicates()
con

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.27,49.285,49.3,...,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893,NaN
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.89,90.574,90.25,...,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.43,NaN
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,60.701,59.903,59.1,58.301,57.51,56.726,55.95,55.181,54.422,NaN
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.77,...,48.924,47.837,46.753,45.67,44.617,43.591,42.593,41.624,40.684,NaN
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.55,39.017,36.538,34.128,31.795,29.555,...,11.648,12.183,12.74,13.292,13.835,14.367,14.885,15.388,15.873,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,98.37706,0.0,99.430435,99.773651,99.942505,99.993134,100.0,100.0,NaN,NaN
260,"Yemen, Rep.",YEM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,61.7514,63.134281,64.532181,65.942101,75.6,66.1,70.213905,71.642349,NaN,NaN
261,South Africa,ZAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,82.7,82.9,84.7,85.3,85.4,86.0,85.5,84.2,NaN,NaN
262,Zambia,ZMB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,23.235649,22.0,24.328644,24.894667,25.469702,27.9,31.1,27.219337,NaN,NaN
263,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,43.369082,36.063057,36.9,36.728878,37.076813,32.3,33.7,38.145138,NaN,NaN

### Limpieza de datos:

In [17]:
from io import StringIO
pr = pd.read_csv('projects_data.csv', encoding='utf-8', sep=',', index_col=False, dtype='unicode')
pr.dropna(subset=['Country'])

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
4,P161364,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN
37,P154525,South Asia,Republic of India;Republic of India,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0001253629!$!Uttarkashi!$!31!$!78.5!$!IN;00012...,0001253629;0001254807;0001259504;0001262118;00...,Uttarkashi;Tehri-Garhwal;Pithoragarh;Naini Tal...,31;30.5;30;29.2;29.96366;30.5;29.69223;29.9731...,78.5;78.66667;80.25;79.41667;78.92853;79.5;79....,IN;IN;IN;IN;IN;IN;IN;IN;IN;IN;IN;IN;IN,NaN
47,P159712,South Asia,Islamic Republic of Pakistan;Islamic Republic ...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0001163570!$!Thatta District!$!24.49026!$!67.9...,0001163570;0001163602;0001163952;0001164407;00...,Thatta District;Thar Parkar District;Tando Muh...,24.49026;24.82085;25.12384;27.49959;27.95321;2...,67.92284;70.18002;68.53677;69.14697;68.60919;6...,PK;PK;PK;PK;PK;PK;PK;PK;PK;PK;PK;PK;PK;PK;PK;P...,NaN
55,P164277,East Asia and Pacific,Republic of Indonesia;Republic of Indonesia,PE,Program-for-Results,PR,NaN,N,L,Active,...,NaN,NaN,NaN,0001633791!$!Provinsi Nusa Tenggara Timur!$!-8...,0001633791;0001636627;0001643012,Provinsi Nusa Tenggara Timur;Provinsi Maluku;P...,-8.6573801;-3.2384601;-4.75,121.07937;130.14526;138,ID;ID;ID,NaN
56,P159692,Middle East and North Africa,Lebanese Republic;Lebanese Republic,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0000272103!$!Lebanon!$!33.83333!$!35.83333!$!LB,0000272103,Lebanon,33.83333,35.83333,LB,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17205,P057045,Latin America and Caribbean,Belize;Belize,GM,Specific Investment Loan,IN,C,N,L,Pipeline,...,NaN,NaN,NaN,0003580772!$!Yo Creek!$!18.090981!$!-88.646072...,0003580772;0003581070;0003581178;0003581199;00...,Yo Creek;Shipstern Lagoon;San Lazaro;San Felip...,18.090981;18.297331;18.03849;17.870741;18.1311...,-88.646072;-88.150742;-88.663162;-88.773788;-8...,BZ;BZ;BZ;BZ;BZ;BZ;BZ;BZ;BZ;BZ;BZ;BZ,NaN
17244,P060558,Latin America and Caribbean,United Mexican States;United Mexican States,GM,Specific Investment Loan,IN,C,N,L,Pipeline,...,NaN,NaN,NaN,0003816881!$!Parque Natural El Triunfo!$!15.66...,0003816881,Parque Natural El Triunfo,15.66667,-92.800003,MX,NaN
17245,P060562,Latin America and Caribbean,United Mexican States;United Mexican States,GM,Specific Investment Loan,IN,C,N,L,Pipeline,...,NaN,NaN,NaN,0003522509!$!Estado de Oaxaca!$!17!$!-96.5!$!MX,0003522509,Estado de Oaxaca,17,-96.5,MX,NaN
17279,P065923,Latin America and Caribbean,United Mexican States;United Mexican States,GM,UNIDENTIFIED,XX,C,N,L,Pipeline,...,NaN,NaN,NaN,0003816880!$!El Paval!$!15.59333!$!-92.850563!...,0003816880;0004017700;0007778819;0007778820;00...,El Paval;Estado de Baja California;Temosachi;B...,15.59333;30;28.950001;21.84;19.139999;24.5;16....,-92.850563;-115;-107.83333;-103.93;-96.879997;...,MX;MX;MX;MX;MX;MX;MX;MX;MX,NaN
17288,P066646,Latin America and Caribbean,Republic of Colombia;Republic of Colombia,GM,UNIDENTIFIED,XX,B,N,L,Pipeline,...,NaN,NaN,NaN,0003668859!$!Isla de Santa Catalina!$!13.38514...,0003668859;0003670205;0003670218;0003671696;00...,Isla de Santa Catalina;Providencia y Santa Cat...,13.38514;12.52449;12.58472;13.35296;12.16706,-81.373466;-81.719833;-81.700562;-81.370407;-8...,CO;CO;CO;CO;CO,NaN

### Datos numericos en Country

In [18]:
import numpy as numpy
mapeo_country = {etiqueta: index for index, etiqueta in enumerate(numpy.unique(pr['countryname']))}
mapeo_country

{'Africa;Africa': 0,
 'American Samoa;American Samoa': 1,
 'Andean Countries;Andean Countries': 2,
 'Antigua and Barbuda;Antigua and Barbuda': 3,
 'Arab Republic of Egypt;Arab Republic of Egypt': 4,
 'Aral Sea;Aral Sea': 5,
 'Argentine Republic;Argentine Republic': 6,
 'Asia;Asia': 7,
 'Barbados;Barbados': 8,
 'Belize;Belize': 9,
 'Bosnia and Herzegovina;Bosnia and Herzegovina': 10,
 'Burkina Faso;Burkina Faso': 11,
 'Caribbean;Caribbean': 12,
 'Caucasus;Caucasus': 13,
 'Central Africa;Central Africa': 14,
 'Central African Republic;Central African Republic': 15,
 'Central America;Central America': 16,
 'Central Asia;Central Asia': 17,
 'Co-operative Republic of Guyana;Co-operative Republic of Guyana': 18,
 'Commonwealth of Australia;Commonwealth of Australia': 19,
 'Commonwealth of Dominica;Commonwealth of Dominica': 20,
 'Commonwealth of The Bahamas;Commonwealth of The Bahamas': 21,
 'Czech Republic;Czech Republic': 22,
 'Democratic Republic of Sao Tome and Prin;Democratic Republic of Sao Tome and Prin': 23,
 'Democratic Republic of Timor-Leste;Democratic Republic of Timor-Leste': 24,
 'Democratic Republic of the Congo;Democratic Republic of the Congo': 25,
 'Democratic Socialist Republic of Sri Lan;Democratic Socialist Republic of Sri Lan': 26,
 'Dominican Republic;Dominican Republic': 27,
 'EU Accession Countries;EU Accession Countries': 28,
 'East Asia and Pacific;East Asia and Pacific': 29,
 'Eastern Africa;Eastern Africa': 30,
 'Europe and Central Asia;Europe and Central Asia': 31,
 'Federal Democratic Republic of Ethiopia;Federal Democratic Republic of Ethiopia': 32,
 'Federal Republic of Nigeria;Federal Republic of Nigeria': 33,
 'Federated States of Micronesia;Federated States of Micronesia': 34,
 'Federative Republic of Brazil;Federative Republic of Brazil': 35,
 'French Republic;French Republic': 36,
 'Gabonese Republic;Gabonese Republic': 37,
 'Georgia;Georgia': 38,
 'Grand Duchy of Luxembourg;Grand Duchy of Luxembourg': 39,
 'Grenada;Grenada': 40,
 'Hashemite Kingdom of Jordan;Hashemite Kingdom of Jordan': 41,
 'Hellenic Republic;Hellenic Republic': 42,
 'Hungary;Hungary': 43,
 'Ireland;Ireland': 44,
 'Islamic  Republic of Afghanistan;Islamic  Republic of Afghanistan': 45,
 'Islamic Republic of Iran;Islamic Republic of Iran': 46,
 'Islamic Republic of Mauritania;Islamic Republic of Mauritania': 47,
 'Islamic Republic of Pakistan;Islamic Republic of Pakistan': 48,
 'Italian Republic;Italian Republic': 49,
 'Jamaica;Jamaica': 50,
 'Japan;Japan': 51,
 'Kingdom of Belgium;Kingdom of Belgium': 52,
 'Kingdom of Bhutan;Kingdom of Bhutan': 53,
 'Kingdom of Cambodia;Kingdom of Cambodia': 54,
 'Kingdom of Denmark;Kingdom of Denmark': 55,
 'Kingdom of Lesotho;Kingdom of Lesotho': 56,
 'Kingdom of Morocco;Kingdom of Morocco': 57,
 'Kingdom of Norway;Kingdom of Norway': 58,
 'Kingdom of Spain;Kingdom of Spain': 59,
 'Kingdom of Swaziland;Kingdom of Swaziland': 60,
 'Kingdom of Thailand;Kingdom of Thailand': 61,
 'Kingdom of Tonga;Kingdom of Tonga': 62,
 'Kingdom of the Netherlands;Kingdom of the Netherlands': 63,
 'Kyrgyz Republic;Kyrgyz Republic': 64,
 "Lao People's Democratic Republic;Lao People's Democratic Republic": 65,
 'Latin America;Latin America': 66,
 'Lebanese Republic;Lebanese Republic': 67,
 'Macedonia; former Yugoslav Republic of;Macedonia; former Yugoslav Republic of': 68,
 'Malaysia;Malaysia': 69,
 'Mekong;Mekong': 70,
 'Mercosur;Mercosur': 71,
 'Middle East and North Africa;Middle East and North Africa': 72,
 'Mongolia;Mongolia': 73,
 'Montenegro;Montenegro': 74,
 'Multi-Regional;Multi-Regional': 75,
 'Nepal;Nepal': 76,
 'New Zealand;New Zealand': 77,
 'Organization of Eastern Caribbean States;Organization of Eastern Caribbean States': 78,
 'Oriental Republic of Uruguay;Oriental Republic of Uruguay': 79,
 'Pacific Islands;Pacific Islands': 80,
 "People's Democratic Republic of Algeria;People's Democratic Republic of Algeria": 81,
 "People's Republic of Bangladesh;People's Republic of Bangladesh": 82,
 "People's Republic of China;People's Republic of China": 83,
 'Plurinational State of Bolivia;Plurinational State of Bolivia': 84,
 'Portuguese Republic;Portuguese Republic': 85,
 'Red Sea and Gulf of Aden;Red Sea and Gulf of Aden': 86,
 'Republic of Albania;Republic of Albania': 87,
 'Republic of Angola;Republic of Angola': 88,
 'Republic of Armenia;Republic of Armenia': 89,
 'Republic of Austria;Republic of Austria': 90,
 'Republic of Azerbaijan;Republic of Azerbaijan': 91,
 'Republic of Belarus;Republic of Belarus': 92,
 'Republic of Benin;Republic of Benin': 93,
 'Republic of Botswana;Republic of Botswana': 94,
 'Republic of Bulgaria;Republic of Bulgaria': 95,
 'Republic of Burundi;Republic of Burundi': 96,
 'Republic of Cabo Verde;Republic of Cabo Verde': 97,
 'Republic of Cameroon;Republic of Cameroon': 98,
 'Republic of Chad;Republic of Chad': 99,
 'Republic of Chile;Republic of Chile': 100,
 'Republic of Colombia;Republic of Colombia': 101,
 'Republic of Congo;Republic of Congo': 102,
 'Republic of Costa Rica;Republic of Costa Rica': 103,
 "Republic of Cote d'Ivoire;Republic of Cote d'Ivoire": 104,
 'Republic of Croatia;Republic of Croatia': 105,
 'Republic of Cyprus;Republic of Cyprus': 106,
 'Republic of Djibouti;Republic of Djibouti': 107,
 'Republic of Ecuador;Republic of Ecuador': 108,
 'Republic of El Salvador;Republic of El Salvador': 109,
 'Republic of Equatorial Guinea;Republic of Equatorial Guinea': 110,
 'Republic of Estonia;Republic of Estonia': 111,
 'Republic of Fiji;Republic of Fiji': 112,
 'Republic of Finland;Republic of Finland': 113,
 'Republic of Ghana;Republic of Ghana': 114,
 'Republic of Guatemala;Republic of Guatemala': 115,
 'Republic of Guinea-Bissau;Republic of Guinea-Bissau': 116,
 'Republic of Guinea;Republic of Guinea': 117,
 'Republic of Haiti;Republic of Haiti': 118,
 'Republic of Honduras;Republic of Honduras': 119,
 'Republic of Iceland;Republic of Iceland': 120,
 'Republic of India;Republic of India': 121,
 'Republic of Indonesia;Republic of Indonesia': 122,
 'Republic of Iraq;Republic of Iraq': 123,
 'Republic of Kazakhstan;Republic of Kazakhstan': 124,
 'Republic of Kenya;Republic of Kenya': 125,
 'Republic of Kiribati;Republic of Kiribati': 126,
 'Republic of Korea;Republic of Korea': 127,
 'Republic of Kosovo;Republic of Kosovo': 128,
 'Republic of Latvia;Republic of Latvia': 129,
 'Republic of Liberia;Republic of Liberia': 130,
 'Republic of Lithuania;Republic of Lithuania': 131,
 'Republic of Madagascar;Republic of Madagascar': 132,
 'Republic of Malawi;Republic of Malawi': 133,
 'Republic of Maldives;Republic of Maldives': 134,
 'Republic of Mali;Republic of Mali': 135,
 'Republic of Malta;Republic of Malta': 136,
 'Republic of Mauritius;Republic of Mauritius': 137,
 'Republic of Moldova;Republic of Moldova': 138,
 'Republic of Mozambique;Republic of Mozambique': 139,
 'Republic of Namibia;Republic of Namibia': 140,
 'Republic of Nicaragua;Republic of Nicaragua': 141,
 'Republic of Niger;Republic of Niger': 142,
 'Republic of Palau;Republic of Palau': 143,
 'Republic of Panama;Republic of Panama': 144,
 'Republic of Paraguay;Republic of Paraguay': 145,
 'Republic of Peru;Republic of Peru': 146,
 'Republic of Poland;Republic of Poland': 147,
 'Republic of Rwanda;Republic of Rwanda': 148,
 'Republic of Senegal;Republic of Senegal': 149,
 'Republic of Serbia;Republic of Serbia': 150,
 'Republic of Seychelles;Republic of Seychelles': 151,
 'Republic of Sierra Leone;Republic of Sierra Leone': 152,
 'Republic of Singapore;Republic of Singapore': 153,
 'Republic of Slovenia;Republic of Slovenia': 154,
 'Republic of South Africa;Republic of South Africa': 155,
 'Republic of South Sudan;Republic of South Sudan': 156,
 'Republic of Suriname;Republic of Suriname': 157,
 'Republic of Tajikistan;Republic of Tajikistan': 158,
 'Republic of The Gambia;Republic of The Gambia': 159,
 'Republic of Togo;Republic of Togo': 160,
 'Republic of Trinidad and Tobago;Republic of Trinidad and Tobago': 161,
 'Republic of Tunisia;Republic of Tunisia': 162,
 'Republic of Turkey;Republic of Turkey': 163,
 'Republic of Uganda;Republic of Uganda': 164,
 'Republic of Uzbekistan;Republic of Uzbekistan': 165,
 'Republic of Vanuatu;Republic of Vanuatu': 166,
 'Republic of Yemen;Republic of Yemen': 167,
 'Republic of Zambia;Republic of Zambia': 168,
 'Republic of Zimbabwe;Republic of Zimbabwe': 169,
 'Republic of the Marshall Islands;Republic of the Marshall Islands': 170,
 'Republic of the Philippines;Republic of the Philippines': 171,
 'Republic of the Sudan;Republic of the Sudan': 172,
 'Republic of the Union of Myanmar;Republic of the Union of Myanmar': 173,
 'Republica Bolivariana de Venezuela;Republica Bolivariana de Venezuela': 174,
 'Romania;Romania': 175,
 'Russian Federation;Russian Federation': 176,
 'Samoa;Samoa': 177,
 'Sint Maarten;Sint Maarten': 178,
 'Slovak Republic;Slovak Republic': 179,
 'Socialist Federal Republic of Yugoslavia;Socialist Federal Republic of Yugoslavia': 180,
 "Socialist People's Libyan Arab Jamahiriy;Socialist People's Libyan Arab Jamahiriy": 181,
 'Socialist Republic of Vietnam;Socialist Republic of Vietnam': 182,
 'Solomon Islands;Solomon Islands': 183,
 'Somali Democratic Republic;Somali Democratic Republic': 184,
 'South Asia;South Asia': 185,
 'Southern Africa;Southern Africa': 186,
 'St. Kitts and Nevis;St. Kitts and Nevis': 187,
 'St. Lucia;St. Lucia': 188,
 'St. Vincent and the Grenadines;St. Vincent and the Grenadines': 189,
 'State of Eritrea;State of Eritrea': 190,
 'State of Israel;State of Israel': 191,
 'Sultanate of Oman;Sultanate of Oman': 192,
 'Syrian Arab Republic;Syrian Arab Republic': 193,
 'Taiwan; China;Taiwan; China': 194,
 'The Independent State of Papua New Guine;The Independent State of Papua New Guine': 195,
 'Turkmenistan;Turkmenistan': 196,
 'Tuvalu;Tuvalu': 197,
 'Ukraine;Ukraine': 198,
 'Union of the Comoros;Union of the Comoros': 199,
 'United Mexican States;United Mexican States': 200,
 'United Republic of Tanzania;United Republic of Tanzania': 201,
 'West Bank and Gaza;West Bank and Gaza': 202,
 'Western Africa;Western Africa': 203,
 'Western Balkans;Western Balkans': 204,
 'World;World': 205}

In [19]:
pr['countryname'] = pr['countryname'].map(mapeo_country)
pr

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
0,P162228,Other,205,RE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P163962,Africa,25,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P167672,South Asia,82,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P158768,South Asia,45,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P161364,Africa,33,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18243,P006578,Latin America and Caribbean,100,PE,Specific Investment Loan,IN,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18244,P037451,Europe and Central Asia,39,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18245,P037362,Europe and Central Asia,55,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18246,P037452,Europe and Central Asia,63,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18247,P037383,Europe and Central Asia,36,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
popd = pd.read_json('population_data.json', encoding='utf-8', dtype='unicode')
popd

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

In [25]:
pd.to_numeric(pr['countryname'], errors='ignore')

0        205
1         25
2         82
3         45
4         33
        ...
18243    100
18244     39
18245     55
18246     63
18247     36
Name: countryname, Length: 18248, dtype: int64

In [42]:
pd.to_numeric(pr['countryname'], downcast='float')

0        205.0
1         25.0
2         82.0
3         45.0
4         33.0
         ...
18243    100.0
18244     39.0
18245     55.0
18246     63.0
18247     36.0
Name: countryname, Length: 18248, dtype: float32

In [43]:
pd.to_numeric(pr['countryname'], downcast='float')

0        205.0
1         25.0
2         82.0
3         45.0
4         33.0
         ...
18243    100.0
18244     39.0
18245     55.0
18246     63.0
18247     36.0
Name: countryname, Length: 18248, dtype: float32

In [27]:
pd.to_numeric(pr['countryname'], errors='coerce')

0        205
1         25
2         82
3         45
4         33
        ...
18243    100
18244     39
18245     55
18246     63
18247     36
Name: countryname, Length: 18248, dtype: int64

In [51]:
import random
from datetime import datetime

inicio = datetime(2017, 1, 30)
final =  datetime(2017, 5, 28)

random_date = inicio + (final - inicio) * random.random()

pr['Fecha boardapprovaldate']= pd.date_range(random_date, periods=len(pr), freq='D')
pr

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56,Date,Fecha,Fecha boardapprovaldate
0,P162228,Other,205,RE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-23 05:20:03.684206,2017-04-23 19:20:41.568701,2017-02-17 12:45:00.403887
1,P163962,Africa,25,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-24 05:20:03.684206,2017-04-24 19:20:41.568701,2017-02-18 12:45:00.403887
2,P167672,South Asia,82,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-25 05:20:03.684206,2017-04-25 19:20:41.568701,2017-02-19 12:45:00.403887
3,P158768,South Asia,45,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-26 05:20:03.684206,2017-04-26 19:20:41.568701,2017-02-20 12:45:00.403887
4,P161364,Africa,33,PE,Investment Project Financing,IN,B,N,L,Active,...,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN,2017-05-27 05:20:03.684206,2017-04-27 19:20:41.568701,2017-02-21 12:45:00.403887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18243,P006578,Latin America and Caribbean,100,PE,Specific Investment Loan,IN,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2067-05-04 05:20:03.684206,2067-04-04 19:20:41.568701,2067-01-29 12:45:00.403887
18244,P037451,Europe and Central Asia,39,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2067-05-05 05:20:03.684206,2067-04-05 19:20:41.568701,2067-01-30 12:45:00.403887
18245,P037362,Europe and Central Asia,55,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2067-05-06 05:20:03.684206,2067-04-06 19:20:41.568701,2067-01-31 12:45:00.403887
18246,P037452,Europe and Central Asia,63,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2067-05-07 05:20:03.684206,2067-04-07 19:20:41.568701,2067-02-01 12:45:00.403887
18247,P037383,Europe and Central Asia,36,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2067-05-08 05:20:03.684206,2067-04-08 19:20:41.568701,2067-02-02 12:45:00.403887

In [52]:
pr['Fecha closingdates']= pd.date_range(random_date, periods=len(pr), freq='D')
pr

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56,Date,Fecha,Fecha boardapprovaldate,Fecha closingdates
0,P162228,Other,205,RE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-23 05:20:03.684206,2017-04-23 19:20:41.568701,2017-02-17 12:45:00.403887,2017-02-17 12:45:00.403887
1,P163962,Africa,25,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-24 05:20:03.684206,2017-04-24 19:20:41.568701,2017-02-18 12:45:00.403887,2017-02-18 12:45:00.403887
2,P167672,South Asia,82,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-25 05:20:03.684206,2017-04-25 19:20:41.568701,2017-02-19 12:45:00.403887,2017-02-19 12:45:00.403887
3,P158768,South Asia,45,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-26 05:20:03.684206,2017-04-26 19:20:41.568701,2017-02-20 12:45:00.403887,2017-02-20 12:45:00.403887
4,P161364,Africa,33,PE,Investment Project Financing,IN,B,N,L,Active,...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN,2017-05-27 05:20:03.684206,2017-04-27 19:20:41.568701,2017-02-21 12:45:00.403887,2017-02-21 12:45:00.403887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18243,P006578,Latin America and Caribbean,100,PE,Specific Investment Loan,IN,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,2067-05-04 05:20:03.684206,2067-04-04 19:20:41.568701,2067-01-29 12:45:00.403887,2067-01-29 12:45:00.403887
18244,P037451,Europe and Central Asia,39,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,2067-05-05 05:20:03.684206,2067-04-05 19:20:41.568701,2067-01-30 12:45:00.403887,2067-01-30 12:45:00.403887
18245,P037362,Europe and Central Asia,55,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,2067-05-06 05:20:03.684206,2067-04-06 19:20:41.568701,2067-01-31 12:45:00.403887,2067-01-31 12:45:00.403887
18246,P037452,Europe and Central Asia,63,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,2067-05-07 05:20:03.684206,2067-04-07 19:20:41.568701,2067-02-01 12:45:00.403887,2067-02-01 12:45:00.403887
18247,P037383,Europe and Central Asia,36,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,2067-05-08 05:20:03.684206,2067-04-08 19:20:41.568701,2067-02-02 12:45:00.403887,2067-02-02 12:45:00.403887

In [54]:
pr['approvalyear'] = pr['Fecha boardapprovaldate'].dt.year
pr['approvalday'] = pr['Fecha boardapprovaldate'].dt.day
pr['approvalweekday'] = pr['Fecha boardapprovaldate'].dt.weekday
pr['closingyear'] = pr['Fecha closingdates'].dt.year
pr['closingday'] = pr['Fecha closingdates'].dt.day
pr['closingweekday'] = pr['Fecha closingdates'].dt.weekday
pr

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,Date,Fecha,Fecha boardapprovaldate,Fecha closingdates,approvalyear,approvalday,approvalweekday,closingyear,closingday,closingweekday
0,P162228,Other,205,RE,Investment Project Financing,IN,C,N,L,Active,...,2017-05-23 05:20:03.684206,2017-04-23 19:20:41.568701,2017-02-17 12:45:00.403887,2017-02-17 12:45:00.403887,2017,17,4,2017,17,4
1,P163962,Africa,25,PE,Investment Project Financing,IN,B,N,L,Active,...,2017-05-24 05:20:03.684206,2017-04-24 19:20:41.568701,2017-02-18 12:45:00.403887,2017-02-18 12:45:00.403887,2017,18,5,2017,18,5
2,P167672,South Asia,82,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,2017-05-25 05:20:03.684206,2017-04-25 19:20:41.568701,2017-02-19 12:45:00.403887,2017-02-19 12:45:00.403887,2017,19,6,2017,19,6
3,P158768,South Asia,45,PE,Investment Project Financing,IN,A,N,L,Active,...,2017-05-26 05:20:03.684206,2017-04-26 19:20:41.568701,2017-02-20 12:45:00.403887,2017-02-20 12:45:00.403887,2017,20,0,2017,20,0
4,P161364,Africa,33,PE,Investment Project Financing,IN,B,N,L,Active,...,2017-05-27 05:20:03.684206,2017-04-27 19:20:41.568701,2017-02-21 12:45:00.403887,2017-02-21 12:45:00.403887,2017,21,1,2017,21,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18243,P006578,Latin America and Caribbean,100,PE,Specific Investment Loan,IN,NaN,N,L,Closed,...,2067-05-04 05:20:03.684206,2067-04-04 19:20:41.568701,2067-01-29 12:45:00.403887,2067-01-29 12:45:00.403887,2067,29,5,2067,29,5
18244,P037451,Europe and Central Asia,39,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,2067-05-05 05:20:03.684206,2067-04-05 19:20:41.568701,2067-01-30 12:45:00.403887,2067-01-30 12:45:00.403887,2067,30,6,2067,30,6
18245,P037362,Europe and Central Asia,55,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,2067-05-06 05:20:03.684206,2067-04-06 19:20:41.568701,2067-01-31 12:45:00.403887,2067-01-31 12:45:00.403887,2067,31,0,2067,31,0
18246,P037452,Europe and Central Asia,63,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,2067-05-07 05:20:03.684206,2067-04-07 19:20:41.568701,2067-02-01 12:45:00.403887,2067-02-01 12:45:00.403887,2067,1,1,2067,1,1
18247,P037383,Europe and Central Asia,36,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,2067-05-08 05:20:03.684206,2067-04-08 19:20:41.568701,2067-02-02 12:45:00.403887,2067-02-02 12:45:00.403887,2067,2,2,2067,2,2

### Datos perdidos

In [64]:
pr.dropna(subset = ["id"], axis = 0)
pr.dropna(subset = ["envassesmentcategorycode"], axis = 0)
#pr.dropna(subset = ["id"], axis = 0)
#pr.dropna(subset = ["id"], axis = 0)
#pr.dropna(subset = ["id"], axis = 0)
#pr.dropna(subset = ["id"], axis = 0)

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,Date,Fecha,Fecha boardapprovaldate,Fecha closingdates,approvalyear,approvalday,approvalweekday,closingyear,closingday,closingweekday
0,P162228,Other,205,RE,Investment Project Financing,IN,C,N,L,Active,...,2017-05-23 05:20:03.684206,2017-04-23 19:20:41.568701,2017-02-17 12:45:00.403887,2017-02-17 12:45:00.403887,2017,17,4,2017,17,4
1,P163962,Africa,25,PE,Investment Project Financing,IN,B,N,L,Active,...,2017-05-24 05:20:03.684206,2017-04-24 19:20:41.568701,2017-02-18 12:45:00.403887,2017-02-18 12:45:00.403887,2017,18,5,2017,18,5
3,P158768,South Asia,45,PE,Investment Project Financing,IN,A,N,L,Active,...,2017-05-26 05:20:03.684206,2017-04-26 19:20:41.568701,2017-02-20 12:45:00.403887,2017-02-20 12:45:00.403887,2017,20,0,2017,20,0
4,P161364,Africa,33,PE,Investment Project Financing,IN,B,N,L,Active,...,2017-05-27 05:20:03.684206,2017-04-27 19:20:41.568701,2017-02-21 12:45:00.403887,2017-02-21 12:45:00.403887,2017,21,1,2017,21,1
6,P161885,Africa,33,PE,Investment Project Financing,IN,B,N,L,Active,...,2017-05-29 05:20:03.684206,2017-04-29 19:20:41.568701,2017-02-23 12:45:00.403887,2017-02-23 12:45:00.403887,2017,23,3,2017,23,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17395,P078436,Europe and Central Asia,176,GE,Specific Investment Loan,IN,B,N,L,Dropped,...,2065-01-06 05:20:03.684206,2064-12-07 19:20:41.568701,2064-10-03 12:45:00.403887,2064-10-03 12:45:00.403887,2064,3,4,2064,3,4
17396,P078536,South Asia,121,PE,Specific Investment Loan,IN,B,N,L,Dropped,...,2065-01-07 05:20:03.684206,2064-12-08 19:20:41.568701,2064-10-04 12:45:00.403887,2064-10-04 12:45:00.403887,2064,4,5,2064,4,5
17397,P078769,South Asia,82,PE,Specific Investment Loan,IN,A,N,L,Dropped,...,2065-01-08 05:20:03.684206,2064-12-09 19:20:41.568701,2064-10-05 12:45:00.403887,2064-10-05 12:45:00.403887,2064,5,6,2064,5,6
17556,P007039,Latin America and Caribbean,108,PE,Specific Investment Loan,IN,C,N,L,Closed,...,2065-06-16 05:20:03.684206,2065-05-17 19:20:41.568701,2065-03-13 12:45:00.403887,2065-03-13 12:45:00.403887,2065,13,4,2065,13,4
18134,P000620,Africa,0,PE,Specific Investment Loan,IN,C,N,L,Closed,...,2067-01-15 05:20:03.684206,2066-12-16 19:20:41.568701,2066-10-12 12:45:00.403887,2066-10-12 12:45:00.403887,2066,12,1,2066,12,1

In [66]:
dd = pr.drop_duplicates()
dd

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,Date,Fecha,Fecha boardapprovaldate,Fecha closingdates,approvalyear,approvalday,approvalweekday,closingyear,closingday,closingweekday
0,P162228,Other,205,RE,Investment Project Financing,IN,C,N,L,Active,...,2017-05-23 05:20:03.684206,2017-04-23 19:20:41.568701,2017-02-17 12:45:00.403887,2017-02-17 12:45:00.403887,2017,17,4,2017,17,4
1,P163962,Africa,25,PE,Investment Project Financing,IN,B,N,L,Active,...,2017-05-24 05:20:03.684206,2017-04-24 19:20:41.568701,2017-02-18 12:45:00.403887,2017-02-18 12:45:00.403887,2017,18,5,2017,18,5
2,P167672,South Asia,82,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,2017-05-25 05:20:03.684206,2017-04-25 19:20:41.568701,2017-02-19 12:45:00.403887,2017-02-19 12:45:00.403887,2017,19,6,2017,19,6
3,P158768,South Asia,45,PE,Investment Project Financing,IN,A,N,L,Active,...,2017-05-26 05:20:03.684206,2017-04-26 19:20:41.568701,2017-02-20 12:45:00.403887,2017-02-20 12:45:00.403887,2017,20,0,2017,20,0
4,P161364,Africa,33,PE,Investment Project Financing,IN,B,N,L,Active,...,2017-05-27 05:20:03.684206,2017-04-27 19:20:41.568701,2017-02-21 12:45:00.403887,2017-02-21 12:45:00.403887,2017,21,1,2017,21,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18243,P006578,Latin America and Caribbean,100,PE,Specific Investment Loan,IN,NaN,N,L,Closed,...,2067-05-04 05:20:03.684206,2067-04-04 19:20:41.568701,2067-01-29 12:45:00.403887,2067-01-29 12:45:00.403887,2067,29,5,2067,29,5
18244,P037451,Europe and Central Asia,39,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,2067-05-05 05:20:03.684206,2067-04-05 19:20:41.568701,2067-01-30 12:45:00.403887,2067-01-30 12:45:00.403887,2067,30,6,2067,30,6
18245,P037362,Europe and Central Asia,55,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,2067-05-06 05:20:03.684206,2067-04-06 19:20:41.568701,2067-01-31 12:45:00.403887,2067-01-31 12:45:00.403887,2067,31,0,2067,31,0
18246,P037452,Europe and Central Asia,63,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,2067-05-07 05:20:03.684206,2067-04-07 19:20:41.568701,2067-02-01 12:45:00.403887,2067-02-01 12:45:00.403887,2067,1,1,2067,1,1
18247,P037383,Europe and Central Asia,36,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,2067-05-08 05:20:03.684206,2067-04-08 19:20:41.568701,2067-02-02 12:45:00.403887,2067-02-02 12:45:00.403887,2067,2,2,2067,2,2

In [69]:
fict = pd.get_dummies(dd[['regionname']])
fict

,regionname_Africa,regionname_East Asia and Pacific,regionname_Europe and Central Asia,regionname_Latin America and Caribbean,regionname_Middle East and North Africa,regionname_Other,regionname_South Asia
0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0
2,0,0,0,0,0,0,1
3,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...
18243,0,0,0,1,0,0,0
18244,0,0,1,0,0,0,0
18245,0,0,1,0,0,0,0
18246,0,0,1,0,0,0,0
18247,0,0,1,0,0,0,0